.promptContainer {
  max-width: 800px;
  margin: 3rem auto;
  padding: 1.5rem 2rem;
  text-align: center;
  border: 1px dotted;
  border-radius: 8px;
  font-size: 0.95rem;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.promptText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
  flex-wrap: wrap;
}


.promptDescription p {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
}

.promptDescription a{
  text-decoration: underline;
}

.promptText svg {
  width: 20px;
  height: 20px;
}

.promptLink {
  font-weight: 600;
  text-decoration: underline;
  transition: opacity 0.2s ease;
}

.promptLink:hover {
  opacity: 0.8;
}

@media (max-width: 600px) {
  .promptContainer {
    padding: 1rem;
    margin: 2rem auto;
  }
} 