.container {
    display: flex;
    align-items: center;
    margin-top: 100px;
  }
  
  .text {
    width: 66%;
    border-top: solid 1px rgba(0,0,0,0.8);
    padding-top: 40px;
    font-size: 2.25rem;
    line-height: 2.6rem;
  }

  .text p{
    line-height: 2.3rem;
  }
  
  .image {
    margin-left: 60px;
    max-width: 33%;
    height: auto;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      margin : 40px 0 0 0;
    }
  
    .text, .image {
      max-width: 100%;
      margin: 0 60px;
      display: block;
      margin-top: 60px;
    }
  
    .text {
      width: 90%;
      display: block;
      font-size: 1.5rem; /* Adjust font size for mobile if necessary */
      line-height: 2rem; /* Adjust line height for mobile if necessary */
    }
  }
  