.container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  
  .titleLeft {
    width: 34%;
    font-size: 80px;
    color: #F9679A;
    letter-spacing: 0;
    line-height: 80px;
    font-weight: 200;
  }
  
  .title h2 {
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 1.15;
    font-weight: 200;
    padding-right: 30px;
  }
  
  .textRight {
    width: 66%;
  }
  
  /* Mobile styles */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      padding: 0 20px;
    }
  
    .titleLeft, .textRight {
      width: 100%;
    }
  
    .title {
      font-size: 20px; /* Adjust font size for mobile if necessary */
      line-height: 40px; /* Adjust line height for mobile if necessary */
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  